.home {
  width: 80%;

  .row {
    .home-header {
      text-align: center;
      padding: 3rem;
      margin-bottom: 5rem;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      min-height: 20vh;
      border-radius: 1rem;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 10px 25px 0 rgba(0, 0, 0, 0.19);
      color: #363636;
      font-size: 1.8rem;
      animation-name: fadeIn;
      animation-duration: 1s;

      .card-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 1);
        opacity: 0;
        transition: all 0.3s;

        &:hover {
          opacity: 1;
        }

        .card-overlay-btn {
          width: 40%;
          padding: 1rem;
          border-radius: 0.3rem;
          text-align: center;
          background-color: #56626c;
          color: white;
          transition: all 0.3s;

          &:hover {
            background-color: #363636;
          }
        }
      }
    }

    .card-details {
      margin-bottom: 5rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
