/****** CSS RESET/GLOBAL STYLES ******/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*****************************************/

.footer {
  background-color: #3b4652;
  text-align: center;
}
